<!-- <h1>Login</h1>


<form action="" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <a href=""><button type="submit">Logar</button></a>
</form> -->

{% extends '-index.html' %}
{%load bootstrap%}
{%load static%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    
</body>
</html>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7">
                <div class="block ">
                    <form action="" method="post" class="feature-item mb-5 mb-lg-0">
                        {% csrf_token %}
                        <div class="divider mb-3"></div>
						<h1 class="mb-3 mt-3"></h1>
                        <h1 class="card-title">Que bom ter <br>você de volta!</h1>
						<h1 class="mb-3 mt-3"></h1>
                        {{ form|bootstrap }}
                        <aside>
                            <p>Não tem uma conta? <a href="/accounts/registrar">Crie uma agora</p>
                        </aside>
                        <input class="btn btn-primary" type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
